<!-- main menu begin -->
<div class="top-menu">
    <div class="container">
       <nav class="main-menu" role="navigation">
          <ul class="nav-menu">
             <li class="nav-item">
                <a href="https://shop.azelab.com/home-1-clothes.html#" id="accessible-megamenu-1680247206716-1" aria-haspopup="true" aria-owns="accessible-megamenu-1680247206716-2" aria-controls="accessible-megamenu-1680247206716-2" aria-expanded="false"><i class="icon-screen-desktop"></i> Home</a>
                <div class="sub-nav" id="accessible-megamenu-1680247206716-2" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1680247206716-1">
                     <ul class="sub-nav-group">
                         <li class="has-sub-nav">
                            <a href="https://shop.azelab.com/home-1-clothes.html#"><span>Clothes version</span></a>
                            <div class="sub-nav">
                               <ul class="sub-nav-group">
                                  <li><a href="https://shop.azelab.com/home-1-clothes.html"><span>Boxed Versihon</span></a></li>
                                  <li><a href="https://shop.azelab.com/home-1-clothes-full-width.html"><span>Full version</span></a></li>
                              </ul>
                            </div>
                         </li>
                         <li><a href="https://shop.azelab.com/home-2-furniture.html"><span>Furniture version</span></a></li>
                         <li><a href="https://shop.azelab.com/home-3-bookstore.html"><span>Bookstore version</span></a></li>
                         <li><a href="https://shop.azelab.com/home-4-electronics.html"><span>Electronics version</span></a></li>
                         <li><a href="https://shop.azelab.com/home-5-flower.html"><span>Flower version</span></a></li>
                     </ul>
                 </div>
             </li>
             <li class="nav-item">
                <a href="https://shop.azelab.com/home-1-clothes.html#" id="accessible-megamenu-1680247206716-3" aria-haspopup="true" aria-owns="accessible-megamenu-1680247206716-4" aria-controls="accessible-megamenu-1680247206716-4" aria-expanded="false"><span><i class="icon-user"></i>Pages</span></a>
                <div class="sub-nav full padding" id="accessible-megamenu-1680247206716-4" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1680247206716-3">
                   <div class="row">
                      <div class="col-md-3">
                         <ul class="sub-nav-group sub-nav-grey">
                            <li><a href="https://shop.azelab.com/basic-page.html"><span>Basic Page</span></a></li>
                            <li><a href="https://shop.azelab.com/blog.html"><span>Blog Page</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Category Page</span></a></li>
                            <li><a href="https://shop.azelab.com/account.html"><span>Account Page</span></a></li>
                            <li><a href="https://shop.azelab.com/coming-soon.html"><span>Coming Soon Page</span></a></li>
                         </ul>
                      </div>
                      <div class="col-md-3">
                         <ul class="sub-nav-group sub-nav-grey">
                            <li><a href="https://shop.azelab.com/contact.html"><span>Contact Page</span></a></li>
                            <li><a href="https://shop.azelab.com/email_template.html"><span>Email Template Page</span></a></li>
                            <li><a href="https://shop.azelab.com/login_register.html"><span>Login Register Page</span></a></li>
                            <li><a href="https://shop.azelab.com/order-complete.html"><span>Order Complete Page</span></a></li>
                            <li><a href="https://shop.azelab.com/order-history.html"><span>Order History</span></a></li>

                         </ul>
                      </div>
                      <div class="col-md-3">
                         <ul class="sub-nav-group sub-nav-grey">
                            <li><a href="https://shop.azelab.com/shopping-cart.html"><span>Shopping Cart Page</span></a></li>
                            <li><a href="https://shop.azelab.com/shortcodes.html"><span>Shortcodes Page</span></a></li>
                            <li><a href="https://shop.azelab.com/single-blog.html"><span>Single Blog Page</span></a></li>
                            <li><a href="https://shop.azelab.com/wishlist.html"><span>Wishlist Page</span></a></li>
                         </ul>
                      </div>
                      <div class="col-md-3">
                         <ul class="sub-nav-group sub-nav-grey">
                            <li><a href="https://shop.azelab.com/product-page.html"><span>Product Page</span></a></li>
                            <li><a href="https://shop.azelab.com/review_page.html"><span>Review Page</span></a></li>
                            <li><a href="https://shop.azelab.com/checkout.html"><span>Checkout Page</span></a></li>
                            <li><a href="https://shop.azelab.com/compare.html"><span>Compare Page</span></a></li>
                            <li><a href="https://shop.azelab.com/404.html"><span>404 Page</span></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
             </li>
             <li class="nav-item">
                <a href="https://shop.azelab.com/home-1-clothes.html#" id="accessible-megamenu-1680247206716-5" aria-haspopup="true" aria-owns="accessible-megamenu-1680247206716-6" aria-controls="accessible-megamenu-1680247206716-6" aria-expanded="false"><span><i class="icon-user-female"></i> Women</span></a>
                <div class="sub-nav full padding" id="accessible-megamenu-1680247206716-6" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1680247206716-5">
                   <div class="row">
                      <div class="col-md-3">
                         <h3 class="sub-nav-title">Jackets</h3>
                         <ul class="sub-nav-group sub-nav-grey">
                            <li><a href="https://shop.azelab.com/category.html"><span>Shirts</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Jumper &amp; Cardigans</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Autumn Jackets</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Winter Jackets</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Leather Jackets</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Jeans</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Shoes</span></a></li>
                         </ul>
                      </div>
                      <div class="col-md-3">
                         <h3 class="sub-nav-title">ACCESSORIES</h3>
                         <ul class="sub-nav-group sub-nav-grey">
                            <li><a href="https://shop.azelab.com/category.html"><span>Bags</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Beauty</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Underwear</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Glasses</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Leather Jackets</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Jeans</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Shoes</span></a></li>
                         </ul>
                      </div>
                      <div class="col-md-3">
                         <h3 class="sub-nav-title">SHOES</h3>
                         <ul class="sub-nav-group sub-nav-grey">
                            <li><a href="https://shop.azelab.com/category.html"><span>Shoes</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Shorts</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Shirts</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Jeans</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Leather Jackets</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Suits &amp; Blazers</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Shoes</span></a></li>
                         </ul>
                      </div>
                      <div class="col-md-3">
                         <div class="megamenu-popular box-with-pager">
                            <div class="sub-nav-title">
                               Popular products
                            </div>
                            <div>
                               <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 282px;"><ul class="vertical-bx-1" style="width: 415%; position: relative; transition-duration: 0s; transform: translate3d(-263px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 263px;" class="bx-clone">
                                     <a href="https://shop.azelab.com/product-page.html">      
                                        <figure>
                                           <span class="img-cover"><img src="assets/img/pr_2-menu.jpg" alt="image name" class="pic"></span>
                                           <figcaption>
                                              <p>Woman Red Handy Bag</p>
                                              <span class="price">$950.00</span>
                                              <span class="old-price">$990.00</span>
                                           </figcaption>
                                        </figure>
                                     </a>
                                  </li>
                                  <li style="float: left; list-style: none; position: relative; width: 263px;">
                                     <a href="https://shop.azelab.com/product-page.html">      
                                        <figure>
                                           <span class="img-cover"><img src="assets/img/pr_1-menu.jpg" alt="image name" class="pic"></span>
                                           <figcaption>
                                              <p>Black Bag</p>
                                              <span class="price">$950.00</span>
                                              <span class="old-price">$990.00</span>
                                           </figcaption>
                                        </figure>
                                     </a>
                                  </li>
                                  <li style="float: left; list-style: none; position: relative; width: 263px;">
                                     <a href="https://shop.azelab.com/product-page.html">      
                                        <figure>
                                           <span class="img-cover"><img src="assets/img/pr_2-menu.jpg" alt="image name" class="pic"></span>
                                           <figcaption>
                                              <p>Woman Red Handy Bag</p>
                                              <span class="price">$950.00</span>
                                              <span class="old-price">$990.00</span>
                                           </figcaption>
                                        </figure>
                                     </a>
                                  </li>
                               <li style="float: left; list-style: none; position: relative; width: 263px;" class="bx-clone">
                                     <a href="https://shop.azelab.com/product-page.html">      
                                        <figure>
                                           <span class="img-cover"><img src="assets/img/pr_1-menu.jpg" alt="image name" class="pic"></span>
                                           <figcaption>
                                              <p>Black Bag</p>
                                              <span class="price">$950.00</span>
                                              <span class="old-price">$990.00</span>
                                           </figcaption>
                                        </figure>
                                     </a>
                                  </li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="https://shop.azelab.com/home-1-clothes.html"><i class="arrow_carrot-left"></i></a><a class="bx-next" href="https://shop.azelab.com/home-1-clothes.html"><i class="arrow_carrot-right"></i></a></div></div></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </li>
             <li class="nav-item">
                <a href="https://shop.azelab.com/home-1-clothes.html#" id="accessible-megamenu-1680247206716-5" aria-haspopup="true" aria-owns="accessible-megamenu-1680247206716-6" aria-controls="accessible-megamenu-1680247206716-6" aria-expanded="false"><span><i class="icon-user-female"></i> Men</span></a>
                <div class="sub-nav full padding" id="accessible-megamenu-1680247206716-6" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1680247206716-5">
                   <div class="row">
                      <div class="col-md-3">
                         <h3 class="sub-nav-title">Clothing</h3>
                         <ul class="sub-nav-group sub-nav-grey">
                            <li><a href="https://shop.azelab.com/category.html"><span>T-Shirts</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Casual Shirts</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Formal Shirts</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Suits</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Jeans</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Casual Trousers</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Formal Trousers</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Shorts</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Track Pants</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Sweaters &amp; Sweatshirts</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Jackets</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Blazers &amp; Coats</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Sports &amp; Active Wear</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Indian &amp; Festive Wear</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Innerwear &amp; Sleepwear</span></a></li>
                         </ul>
                      </div>
                      <div class="col-md-3">
                         <h3 class="sub-nav-title">ACCESSORIES</h3>
                         <ul class="sub-nav-group sub-nav-grey">
                            <li><a href="https://shop.azelab.com/category.html"><span>Watches &amp; Wearables</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Sunglasses &amp; Frames</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Bags &amp; Backpacks</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Luggage &amp; Trolleys</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Personal Care &amp; Grooming</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Wallets &amp; Belts</span></a></li>
                            <li><a href="https://shop.azelab.com/category.html"><span>Fashion Accessories</span></a></li>
                         </ul>
                      </div>
            
                      <div class="col-md-3">
                         <div class="megamenu-popular box-with-pager">
                            <div class="sub-nav-title">
                               Popular products
                            </div>
                            <div>
                               <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 282px;"><ul class="vertical-bx-1" style="width: 415%; position: relative; transition-duration: 0s; transform: translate3d(-263px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 263px;" class="bx-clone">
                                     <a href="https://shop.azelab.com/product-page.html">      
                                        <figure>
                                           <span class="img-cover"><img src="assets/img/pr_2-menu.jpg" alt="image name" class="pic"></span>
                                           <figcaption>
                                              <p>Woman Red Handy Bag</p>
                                              <span class="price">$950.00</span>
                                              <span class="old-price">$990.00</span>
                                           </figcaption>
                                        </figure>
                                     </a>
                                  </li>
                                  <li style="float: left; list-style: none; position: relative; width: 263px;">
                                     <a href="https://shop.azelab.com/product-page.html">      
                                        <figure>
                                           <span class="img-cover"><img src="assets/img/pr_1-menu.jpg" alt="image name" class="pic"></span>
                                           <figcaption>
                                              <p>Black Bag</p>
                                              <span class="price">$950.00</span>
                                              <span class="old-price">$990.00</span>
                                           </figcaption>
                                        </figure>
                                     </a>
                                  </li>
                                  <li style="float: left; list-style: none; position: relative; width: 263px;">
                                     <a href="https://shop.azelab.com/product-page.html">      
                                        <figure>
                                           <span class="img-cover"><img src="assets/img/pr_2-menu.jpg" alt="image name" class="pic"></span>
                                           <figcaption>
                                              <p>Woman Red Handy Bag</p>
                                              <span class="price">$950.00</span>
                                              <span class="old-price">$990.00</span>
                                           </figcaption>
                                        </figure>
                                     </a>
                                  </li>
                               <li style="float: left; list-style: none; position: relative; width: 263px;" class="bx-clone">
                                     <a href="https://shop.azelab.com/product-page.html">      
                                        <figure>
                                           <span class="img-cover"><img src="assets/img/pr_1-menu.jpg" alt="image name" class="pic"></span>
                                           <figcaption>
                                              <p>Black Bag</p>
                                              <span class="price">$950.00</span>
                                              <span class="old-price">$990.00</span>
                                           </figcaption>
                                        </figure>
                                     </a>
                                  </li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="https://shop.azelab.com/home-1-clothes.html"><i class="arrow_carrot-left"></i></a><a class="bx-next" href="https://shop.azelab.com/home-1-clothes.html"><i class="arrow_carrot-right"></i></a></div></div></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </li>
             <li class="nav-item">
                <a href="https://shop.azelab.com/blog.html" id="accessible-megamenu-1680247206716-9" class=""><span><i class="icon-pencil"></i> Blog</span></a>
             </li>
             <li class="nav-item">
                <a href="https://shop.azelab.com/coming-soon.html" id="accessible-megamenu-1680247206716-10" aria-haspopup="true" aria-owns="accessible-megamenu-1680247206716-11" aria-controls="accessible-megamenu-1680247206716-11" aria-expanded="false"><span><i class="icon-cup"></i> Popular</span></a>
                <div class="sub-nav full padding" id="accessible-megamenu-1680247206716-11" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1680247206716-10">
                   <div class="megamenu-popular mmp-type-2 box-with-pager">
                      <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 355px;"><ul class="vertical-bx-1" style="width: 315%; position: relative; transition-duration: 0s; transform: translate3d(-1140px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 1140px;" class="bx-clone">
                            <div class="row">
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_1.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_2.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_3.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_4.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                            </div>
                         </li>
                         <li style="float: left; list-style: none; position: relative; width: 1140px;">
                            <div class="row">
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_1.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_2.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_3.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_4.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                            </div>
                         </li>
                      <li style="float: left; list-style: none; position: relative; width: 1140px;" class="bx-clone">
                            <div class="row">
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_1.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_2.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_3.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                               <div class="col-md-3">
                                  <a href="https://shop.azelab.com/product-page.html">      
                                     <figure>
                                        <span class="img-cover"><img src="assets/img/pr_4.jpg" alt="image name" class="pic"></span>
                                        <figcaption>
                                           <p>Woman Red Handy Bag</p>
                                           <span class="price">$950.00</span>
                                           <span class="old-price">$990.00</span>
                                        </figcaption>
                                     </figure>
                                  </a>
                               </div>
                            </div>
                         </li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev disabled" href="https://shop.azelab.com/home-1-clothes.html"><i class="arrow_carrot-left"></i></a><a class="bx-next disabled" href="https://shop.azelab.com/home-1-clothes.html"><i class="arrow_carrot-right"></i></a></div></div></div>
                   </div>
                   <div class="row">
                      <div class="col-md-4">
                         <a href="https://shop.azelab.com/blog.html" class="img-fade-hover">
                            <img src="assets/img/megamenu-btm1.jpg" alt="">
                         </a>
                      </div>
                      <div class="col-md-4">
                         <a href="https://shop.azelab.com/blog.html" class="img-fade-hover">
                            <img src="assets/img/megamenu-btm2.jpg" alt="">
                         </a>
                      </div>
                      <div class="col-md-4">
                         <a href="https://shop.azelab.com/blog.html" class="img-fade-hover">
                            <img src="assets/img/megamenu-btm3.jpg" alt="">
                         </a>
                      </div>
                   </div>
                </div>
             </li>
             <li class="nav-item">
                <a href="https://shop.azelab.com/contact.html" id="accessible-megamenu-1680247206716-12"><span><i class="icon-call-in"></i> Contact Us</span></a>
             </li>
             <li class="nav-item">
                <a href="https://shop.azelab.com/category.html" id="accessible-megamenu-1680247206716-13"><span><i class="icon-wallet"></i> Sale</span></a>
             </li>
          </ul>
       </nav>
    </div>
 </div>
 <!-- main menu end -->
 <!-- mobile menu begin -->
 <div class="mobile-menu">
    <nav>
       <div class="mobile-menu-button">
          MENU
          <a href="https://shop.azelab.com/home-1-clothes.html#" class="mobile-menu-toggler"><span></span><span></span><span></span></a>
       </div>
       <div class="mobile-menu-body">
          <div class="mobile-menu-search clearfix">
             <form action="https://shop.azelab.com/">
                <div class="form-group">
                   <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="icon-magnifier"></i></button>
             </form>
          </div>
          <ul>
             <li><a href="https://shop.azelab.com/home-1-clothes.html#"><i class="icon-home"></i> Home</a></li>
             <li>
                <a href="https://shop.azelab.com/home-1-clothes.html#"><i class="icon-user"></i> Men</a>
                <a class="submenu-toggler" href="https://shop.azelab.com/home-1-clothes.html#"><i class="arrow_carrot-down"></i></a>
                <ul>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Shirts</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Jumper &amp; Cardigans</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Autumn Jackets</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Winter Jackets</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Leather Jackets</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Jeans</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Shoes</span></a></li>
                </ul>
             </li>
             <li>
                <a href="https://shop.azelab.com/home-1-clothes.html#"><i class="icon-user-female"></i> Women</a>
                <a class="submenu-toggler" href="https://shop.azelab.com/home-1-clothes.html#"><i class="arrow_carrot-down"></i></a>
                <ul>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Shirts</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Jumper &amp; Cardigans</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Autumn Jackets</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Winter Jackets</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Leather Jackets</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Jeans</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Shoes</span></a></li>
                </ul>
             </li>
             <li>
                <a href="https://shop.azelab.com/home-1-clothes.html#"><i class="icon-screen-desktop"></i> Electronics</a>
                <a class="submenu-toggler" href="https://shop.azelab.com/home-1-clothes.html#"><i class="arrow_carrot-down"></i></a>
                <ul>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Shirts</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Jumper &amp; Cardigans</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Autumn Jackets</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Winter Jackets</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Leather Jackets</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Jeans</span></a></li>
                   <li><a href="https://shop.azelab.com/home-1-clothes.html#"><span>Shoes</span></a></li>
                </ul>
             </li>
          </ul>
          <p><i class="icon-call-in"></i> + 1 (800) 2364 332 23 16</p>
          <p><i class="icon-envelope"></i>your@email.com</p>
       </div>
    </nav>
 </div>
 <!-- mobile menu end -->